<h1>Registration</h1>
<% form_for(@user || User.new, '/users/create') do |f| %>
  <%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :email %>
 	<%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <div class="g-recaptcha" data-sitekey="<%=JobVacancy::App.settings.recaptcha_site_key%>"></div>

  <br/>
  <%= f.submit "Create", :class => "btn btn-primary" %>
<% end %>

<script src="https://www.google.com/recaptcha/api.js"></script>
